<link rel='stylesheet' href='/stylesheets/logout.css' />

<div class="modal" tabindex="-1" role="dialog" id="logout_prompt">
    <div class="modal-dialog" role="document">
        <div class="modal-content logout-light-theme" id="logout_theme_change">
            <div class="modal-header text-center">
                <h5 class="modal-title">You wanna log-out?</h5>
            </div>
            <div class="modal-body">
                <p>Logging-out will remove you from all your currently active chats</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary logout-no" data-dismiss="modal">No</button>
                <a href="/logout" id="logout-yes" class="btn btn-danger logout-yes">Yes</a>
            </div>
        </div>
    </div>
</div>