<% include ./includes/header.ejs %>
<link rel='stylesheet' href='/stylesheets/chat_app.css' />

  <body class="light-theme">

    <div class="container-fluid chat-area-light" id='message_area'>
    </div>

    <input type="hidden" id="hidden_user" value="<%= user %>">

    <!-- Message Area (Text input and send button) -->
    <div class="message-box-div">
      <div class="input-group">
          <div class="input-group-prepend">
              <button class="btn btn-lg btn-dark" data-toggle="tooltip" data-placement="top" title="Switch to dark theme!" onclick="toggle_theme();" id="dark_light"><i id="dark_light_icon" class="far fa-moon"></i></button>
            </div>
        <input type="text" class="form-control form-control-lg" id="chat_message" placeholder="Hey <%= user %>! Type your message!" aria-describedby="message_textbox" required>
        <div class="input-group-prepend">
          <button class="btn btn-lg btn-primary send-button" id="send_msg">Send&nbsp;&nbsp;<i class="fab fa-telegram-plane"></i></button>
        </div>
      </div>
    </div>
  </body>

  <% include ./includes/footer.ejs %>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/chat_app.js"></script>
</html>