<% include ./includes/header.ejs %>
<link rel='stylesheet' href='/stylesheets/index.css' />

<body class="text-center">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
      <div class="col-12 chattify-div" id="username_div">
        <h1><%= title %></h1>
        <p>The place to chat without restrictions!</p>

        <div class="input-group">
          <input type="text" class="form-control form-control-lg" id="chat_name" name="chat_name"
            placeholder="Enter your name!" aria-describedby="message_textbox">
          <div class="input-group-prepend">
            <button type="button" class="btn btn-lg btn-primary send-button" onclick="check_user()">Start your
              conversation!</button>
          </div>
        </div>
      </div>
      <div class="col-12 chattify-div" id="room_div" style="display: none;">
        <h1 id="user_greeting"></h1>
        <p>Create or join a room to continue!</p>

        <div id="create_room_buttons">
          <button type="button" onclick="room_div_options('create_room')" class="btn btn-primary">Create a room!</button>
          <button type="button" onclick="room_div_options('join_room')" class="btn btn-success">Join a room!</button>
        </div>

        <div id="create_room_div" style="display: none;">
          <form action="/chatroom/create_join_room/create" method="post">
            <div class="input-group">
              <input type="hidden" id="username_hidden_create" name="username">
              <input type="text" class="form-control form-control-lg" id="create_room_name" name="create_room_name"
                placeholder="Enter your chat room name!" aria-describedby="message_textbox">
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-lg btn-primary send-button">Enter the room!</button>
              </div>
            </div><br>
            <a href="#" onclick="room_div_options('join_room')">I would join a room instead...</a>
          </form>
        </div>

        <div id="join_room_div" style="display: none;">
          <form action="/chatroom/create_join_room/join" method="post">
            <div class="input-group">
              <input type="hidden" id="username_hidden_join" name="username">
              <input type="text" class="form-control form-control-lg" id="join_room_id" name="join_room_id"
                placeholder="Enter your room id provided by the room owner!" aria-describedby="message_textbox">
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-lg btn-success send-button">Enter the room!</button>
              </div>
            </div><br>
            <a href="#" onclick="room_div_options('create_room')">I would create a room instead...</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

<% include ./includes/footer.ejs %>
<script src="/javascripts/index.js"></script>