<% include ./includes/header.ejs %>
<link rel='stylesheet' href='/stylesheets/index.css' />

<body class="text-center">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">

      <% if(username === '') { %>

      <div class="col-12 chattify-div" id="login_div">
        <h1><%= title %></h1>
        <p>The place to chat without restrictions!</p>

        <form action="/login" method="post" id="login_session_form">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 col-12">
              <input type="text" class="form-control form-control-lg" id="login_username" name="login_username" placeholder="Enter your username!" aria-describedby="login_username_sr" aria-required="true"><br>
              <p id="login_username_sr" hidden>Enter your username</p>
              <input type="password" class="form-control form-control-lg" id="login_password" name="login_password" placeholder="Enter your password!" aria-describedby="login_password_sr" aria-required="true"><br>
              <p id="login_password_sr" hidden>Enter your password</p>
              <button type="button" id="login_button" class="btn btn-lg btn-primary send-button">Login to start chatting!</button><br>
            </div>
            <div class="col-sm-3"></div>
          </div><br>
          Not yet an user? <br class="d-block d-sm-none"><a href="#" id="register_button_href">Register to start chatting!</a>
        </form>
      </div>

      <div class="col-12 chattify-div dispnone" id="register_div">
        <h1><%= title %></h1>
        <p>The place to chat without restrictions!</p>

        <form action="/register" method="post" id="register_session_form">
          <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 col-12">
              <input type="text" class="form-control form-control-lg" id="register_displayname" name="register_displayname" placeholder="Enter your display name!" aria-describedby="register_displayname_sr" aria-required="true"><br>
              <p id="register_displayname_sr" hidden>Enter your display name</p>
              <input type="text" class="form-control form-control-lg" id="register_username" name="register_username" placeholder="Enter your username!" aria-describedby="register_username_sr" aria-required="true"><br>
              <p id="register_username_sr" hidden>Enter your username</p>
              <input type="password" class="form-control form-control-lg" id="register_password" name="register_password" placeholder="Enter your password!" aria-describedby="register_password_sr" aria-required="true"><br>
              <p id="register_password_sr" hidden>Enter your password</p>
              <button type="button" id="register_button" class="btn btn-lg btn-primary send-button">Register to start chatting!</button>
              <br><br>
              A chattify user? <br class="d-block d-sm-none"><a href="#" id="login_button_href">Login to start chatting!</a>
            </div>
            <div class="col-sm-3"></div>
          </div>
        </form>
      </div>

      <% } else { %>
      
      <div class="col-12 chattify-div" id="room_div">
        <button type="button" class="btn btn-danger logout-button" data-toggle="modal" data-target="#logout_prompt">Logout&nbsp;&nbsp;<i class="fas fa-sign-out-alt"></i></button>
        <h1 id="user_greeting">Hey <%= displayname %>!</h1>
        <p>Create or join a room to continue!</p>

        <div id="create_room_buttons">
          <div class="row">
              <div class="col-sm-2 d-none d-sm-block"></div>
              <div class="col-12 col-sm-8">
                  <a href="/chatroom/room/Global" class="btn btn-warning global_chat">🔥 Go to Global Chat! 🔥</a><br>
        
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" id="create_room_button_main_div" class="btn btn-primary normal_chat">Create a room!</button>
                    <button type="button" id="join_room_button_create_div" class="btn btn-success normal_chat">Join a room!</button>
                  </div>
              </div>
              <div class="col-sm-2 d-none d-sm-block"></div>
          </div>
        </div>

        <div id="create_room_div" class="dispnone">
            <!-- START -- System interface -->
            <div class="d-none d-sm-block">
              <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 col-12">
                  <form action="/chatroom/create_join_room/create" method="post">
                    <div class="input-group">
                      <input type="hidden" id="username_hidden_create" name="username">
                      <input type="text" class="form-control form-control-lg" id="create_room_name" name="create_room_name"
                        placeholder="Enter your chat room name!" aria-describedby="create_room_name_sr">
                      <p id="create_room_name_sr" hidden>Enter the name for your chat room</p>
                      <div class="input-group-prepend">
                        <button type="submit" class="btn btn-lg btn-primary send-button">Enter the room!</button>
                      </div>
                    </div><br>
                    <div class="btn-group" role="group" aria-label="Basic example">
                      <a href="/chatroom/room/Global" class="btn btn-warning normal_chat">🔥 Go to Global Chat! 🔥</a>
                      <button type="button" id="join_room_button_create_div" class="btn btn-success normal_chat">Join a room!</button>
                    </div>
                  </form>
                </div>
                <div class="col-sm-2"></div>
              </div>
            </div>
            <!-- END -- System interface -->

            <!-- START -- Mobile interface -->
            <div class="d-block d-sm-none">
              <div class="row">
                <div class="col-12">
                  <form action="/chatroom/create_join_room/create" method="post">
                    <input type="hidden" id="username_hidden_create" name="username">
                    <input type="text" class="form-control form-control-lg" id="create_room_name" name="create_room_name" placeholder="Enter your chatroom name!" aria-describedby="create_room_name_sr"><br>
                    <p id="create_room_name_sr" hidden>Enter the name for your chat room</p>
                    <button type="submit" class="btn btn-lg btn-primary send-button_xs">Enter the room!</button><br><br>
                    <button type="button" id="join_room_button_create_div" class="btn btn-success normal_chat_xs">Join a room!</button><br>
                    <a href="/chatroom/room/Global" class="btn btn-warning normal_chat_xs">🔥 Go to Global Chat! 🔥</a>
                  </form>
                </div>
              </div>
            </div>
            <!-- END -- Mobile interface -->
        </div>

        <div id="join_room_div" class="dispnone">
          <!-- START -- System interface -->
          <div class="d-none d-sm-block">
            <div class="row">
              <div class="col-sm-2"></div>
              <div class="col-sm-8 col-12">
                <form action="/chatroom/create_join_room/join" method="post">
                  <div class="input-group">
                    <input type="hidden" id="username_hidden_join" name="username">
                    <input type="text" class="form-control form-control-lg" id="join_room_id" name="join_room_id"
                      placeholder="Enter your room id provided by the room owner!" aria-describedby="join_room_id_sr">
                    <p id="join_room_id_sr" hidden>Enter the id of the existing chat room</p>
                    <div class="input-group-prepend">
                      <button type="submit" class="btn btn-lg btn-success send-button">Enter the room!</button>
                    </div>
                  </div><br>
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="/chatroom/room/Global" class="btn btn-warning normal_chat">🔥 Go to Global Chat! 🔥</a>
                    <button type="button" id="create_room_button_join_div" class="btn btn-primary normal_chat">Create a room!</button>
                  </div>
                </form>
              </div>
              <div class="col-sm-2"></div>
            </div>
          </div>
          <!-- END -- System interface -->

          <!-- START -- Mobile interface -->
          <div class="d-block d-sm-none">
            <div class="row">
                <div class="col-12">
                  <form action="/chatroom/create_join_room/join" method="post">
                      <input type="hidden" id="username_hidden_join" name="username">
                      <input type="text" class="form-control form-control-lg" id="join_room_id" name="join_room_id" placeholder="Enter the room id!" aria-describedby="join_room_id_sr"><br>
                      <p id="join_room_id_sr" hidden>Enter the id of the existing chat room</p>
                      <button type="submit" class="btn btn-lg btn-success send-button_xs">Enter the room!</button><br><br>
                      <button type="button" id="create_room_button_join_div" class="btn btn-primary normal_chat_xs">Create a room!</button><br>
                      <a href="/chatroom/room/Global" class="btn btn-warning normal_chat_xs">🔥 Go to Global Chat! 🔥</a>
                  </form>
                </div>
            </div>
          </div>
            <!-- END -- Mobile interface -->
        </div>

      <% } %>

      <% if(error !== '') { %>
        <div class="bg-danger error-msg-div">
          <%= error %>
        </div>
      <% } %>

    </div>
  </div>
</body>

<% include ./includes/logout.ejs %>
<% include ./includes/footer.ejs %>
<script src="/javascripts/index.js"></script>