<% include ./includes/header.ejs %>
<link rel='stylesheet' href='/stylesheets/index.css' />

<body class="text-center">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">

      <% if(username === '') { %>

      <div class="col-12 chattify-div" id="username_div">
        <h1><%= title %></h1>
        <p>The place to chat without restrictions!</p>

        <form action="/" method="post" id="user_session_form">
          <div class="input-group">
            <input type="text" class="form-control form-control-lg" id="chat_name" name="chat_name"
              placeholder="Enter your name!" aria-describedby="chat_name_sr" aria-required="true">
            <p id="chat_name_sr" hidden>Enter the name to start chatting</p>
            <div class="input-group-prepend">
              <button type="button" onclick="check_user()" class="btn btn-lg btn-primary send-button">Start your conversation!</button>
            </div>
          </div>
        </form>
      </div>

      <% } else { %>
      
      <div class="col-12 chattify-div" id="room_div">
        <h1 id="user_greeting">Hey <%= username %>!</h1>
        <p>Create or join a room to continue!</p>

        <div id="create_room_buttons">
          <a href="/chatroom/room/Global" class="btn btn-warning global_chat">🔥 Go to Global Chat! 🔥</a><br>

          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" onclick="room_div_options('create_room')" class="btn btn-primary normal_chat">Create a room!</button>
            <button type="button" onclick="room_div_options('join_room')" class="btn btn-success normal_chat">Join a room!</button>
          </div>
        </div>

        <div id="create_room_div" style="display: none;">
          <form action="/chatroom/create_join_room/create" method="post">
            <div class="input-group">
              <input type="hidden" id="username_hidden_create" name="username">
              <input type="text" class="form-control form-control-lg" id="create_room_name" name="create_room_name"
                placeholder="Enter your chat room name!" aria-describedby="create_room_name_sr">
              <p id="create_room_name_sr" hidden>Enter the name for your chat room</p>
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-lg btn-primary send-button">Enter the room!</button>
              </div>
            </div><br>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="/chatroom/room/Global" class="btn btn-warning normal_chat">🔥 Go to Global Chat! 🔥</a>
              <button type="button" onclick="room_div_options('join_room')" class="btn btn-success normal_chat">Join a room!</button>
            </div>
          </form>
        </div>

        <div id="join_room_div" style="display: none;">
          <form action="/chatroom/create_join_room/join" method="post">
            <div class="input-group">
              <input type="hidden" id="username_hidden_join" name="username">
              <input type="text" class="form-control form-control-lg" id="join_room_id" name="join_room_id"
                placeholder="Enter your room id provided by the room owner!" aria-describedby="join_room_id_sr">
              <p id="join_room_id_sr" hidden>Enter the id of the existing chat room</p>
              <div class="input-group-prepend">
                <button type="submit" class="btn btn-lg btn-success send-button">Enter the room!</button>
              </div>
            </div><br>
            <div class="btn-group" role="group" aria-label="Basic example">
              <a href="/chatroom/room/Global" class="btn btn-warning normal_chat">🔥 Go to Global Chat! 🔥</a>
              <button type="button" onclick="room_div_options('create_room')" class="btn btn-primary normal_chat">Create a room!</button>
            </div>
          </form>
        </div>
      </div>

      <% } %>

    </div>
  </div>
</body>

<% include ./includes/footer.ejs %>
<script src="/javascripts/index.js"></script>