<link rel='stylesheet' href='/stylesheets/side_nav.css' />

<div id="mySidenav" class="sidenav">
    <a style="border-bottom: 2px solid #fff" href="#">People Online</a>
    <div id="people_online_div">
        
    </div>
</div>

<script src="/javascripts/side_nav.js"></script>