<link rel='stylesheet' href='/stylesheets/side_nav.css' />

<div id="mySidenav" class="sidenav">
    <a class="sidenav_heading" href="#">People Online</a>
    <div id="people_online_div" class="col-12">
        
    </div>
</div>

<script src="/javascripts/side_nav.js"></script>