.room_name {
    background-color: #007bff !important;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
}

.room_name_dark {
    background-color: #343a40 !important;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border-radius: 1rem 1rem 0 0;
}

.new_user_prompt {
    background-color: #007bff !important;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.new_user_prompt_dark {
    background-color: #1d2124 !important;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.chat-currentuser-light {
    background-color: #007bff;
    color: white;
}

.chat-otheruser-light {
    background-color: #004ea2;
    color: white;
}

.chat-currentuser-dark {
    background-color: #000f1d;
    color: white;
    border: 1px solid #000f1d;
}

.chat-otheruser-dark {
    background-color: #111;
    color: white;
    border: 1px solid #222;
}

.currentuser_message, .otheruser_message {
    min-width: 60%; 
    max-width: 100%;
}

.card-body {
    padding: 0.8rem;
}

.xs_width_100 {
    width: 100%;
}

.xs_margin_bottom {
    margin-bottom: 1vh;
}

.username_click, .username_click:hover {
    color: white;
    text-decoration: none;
}

.profile-picture-modal {
    width: 10vw;
    height: 10vw;
}

.user-profile-light-theme > .modal-header {
    background: linear-gradient(90deg, blue, darkblue);
    border-radius: 0;
}

.user-profile-light-theme > .modal-body {
    background: #fff;
    color: #000;
}

.user-profile-dark-theme > .modal-header {
    background: linear-gradient(90deg, #000f1d, #000);
    border-radius: 0;
    border-bottom: 1px;
}

.user-profile-dark-theme > .modal-body {
    background: #000f1d;
    color: white;
}