body, html {
    height: 100%;
    background-image: url('/images/chat-back.jpg');
    background-size: cover;
}

.chattify-div {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 3rem;
}

.stranger-dark {
    background-color: #212529;
    color: white;
}

.error-input {
    border: 1px solid red;
}

.normal_chat {
    width: 15rem;
}

.global_chat {
    width: 30rem;
    margin-bottom: 1rem;
}

.logout-button {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.error-msg-div {
    position: relative;
    top: -13rem;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    color: white;
}