body {
  padding: 2rem;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.message-box-div {
  position: fixed;
  width: 95%;
  bottom: 1.5rem;
}

.send-button {
 border-top-right-radius: 5px !important;
 border-bottom-right-radius: 5px !important;
}

.chat-area-light {
  border: 1px solid #eee;
  border-radius: 5px;
  height: 50rem;
  max-height: 50rem;
  overflow-y: auto;
  padding: 1rem;
  background-color: white;
}

.chat-area-dark {
  border: 1px solid #000;
  border-radius: 5px;
  height: 50rem;
  max-height: 50rem;
  overflow-y: auto;
  padding: 1rem;
  background-color: black;
}

.chat-text-dark {
  background-color: #111 !important;
  color: white !important;
  border: 1px solid #222 !important;
}

.chattify-div {
  background: rgba(255,255,255,0.8);
  border-radius: 5px;
  padding: 5rem;
}

.light-theme {
  background-color: white;
}

.dark-theme {
  background-color: #1d2124;
}

.btn-dark {
  color: yellow !important;
}

.left-position {
  text-align: left;
}

.right-position {
  text-align: right;
}

.dispnone {
  display: none;
}